*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.start-container {
    width: 100%;
    background-color: #3AD4D8;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 10px 0;
    color: rgb(112, 96, 96);
}

.start-container h4 {
    margin-left: 60px;
}

.login-container {
    width: 15%;
    display: flex;
}

.login-container img {
    width: 70%;
    height: 15px;
    margin-left: 25px;
}

.hello-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hello-container div {
    margin-top: 60px;
    margin-left: 30px;
}

.write img {
    margin-top: 40px;
}

.header-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 50px;
    margin-top: 100px;
}

.header-container a {
    width: 10%;
    position: relative;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: rgb(138, 134, 134);
    font-size: 18px;
    margin-left: 20px;
}

.header-container a:after {
    content: "";
    position: absolute;
    background-color: #82E3E5;
    text-decoration: none;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.header-container a:hover {
    color: black;
}

.header-container a:hover:after {
    width: 100%;
}

.header-container li {
    width: 20%;
}

.header-container img {
    margin-right: 10px;
}

.right-container {
    display: flex;
    width: 12%;
    justify-content: space-between;
    margin-right: 80px;
    margin-top: 45px !important;
}

.right-container div {
    width: 30%;
    background-color: #82E3E5;
    height: 42px;
    border-radius: 200px;
    border: 2px solid #82E3E5;
    transition: 0.6s;
}

.right-container div:hover {
    background-color: white;
}

.right-container div img {
    padding: 10px;
}

.mathematics {
    display: flex;
    justify-content: space-between;
    height: 450px;
}

.knowledge {
    width: 49%;
    margin: 70px;
    margin-top: 120px;
}

.knowledge h1 {
    width: 50%;
    font-weight: bold;
    font-weight: 1000;
    color: #181818;
}

.knowledge h6 {
    font-size: 15px;
    margin: 8px 0;
}

.knowledge p {
    margin-bottom: 30px;
}

.knowledge button {
    width: 25%;
    margin-left: 5px;
    background-color: #543EE9;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 15px;
}

.knowledge button:hover {
    background-color: #4c4b55;
    color: black;
    transition: 0.6s;
}

.academy {
    width: 49%;
    margin-top: 50px;
}

.blue-img img {
    position: absolute;
    width: 17%;
}

.pink-img img {
    position: relative;
    top: 15%;
    bottom: 0;
    left: 20%;
    right: 0;
    z-index: 0;
    width: 47%;
}

.ellips-pink img {
    position: relative;
    width: 8%;
    top: -315px;
    bottom: 0;
    left: 13%;
    right: 0;
    z-index: 1;
}

.ellips-red img {
    position: relative;
    width: 8%;
    top: -393px;
    bottom: 0;
    left: 49%;
    right: 0;
    z-index: 1;
}

.family-img img {
    width: 50%;
    position: relative;
    top: -375px;
    bottom: 0;
    left: 9%;
    right: 0;
    z-index: 2;
}

.circle-img img {
    width: 8%;
    position: relative;
    top: -504px;
    bottom: 0;
    left: 30%;
    right: 0;
    z-index: 3;
}

.replay img {
    width: 2.5%;
    position: relative;
    top: -545px;
    bottom: 0;
    left: 33%;
    right: 0;
    z-index: 4;
}

.part-2 {
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    height: 550px;
}

.children-left {
    width: 49%;
    margin: auto;
    margin-top: 100px;
}

.left-pink img {
    position: absolute;
    width: 20%;
    margin-left: 272px;
    margin-top: -10px;
    z-index: 0;
}

.left-blue img {
    position: relative;
    width: 39%;
    margin-left: 190px;
    margin-top: 120px;
    z-index: -1;
}

.ellips-left-pink img {
    width: 8%;
    position: relative;
    z-index: 1;
    top: -365px;
    left: 39%;
}

.ellips-back-red img {
    width: 8%;
    position: relative;
    z-index: 4;
    left: 36%;
    top: -135px;
}

.child-left img {
    width: 48%;
    position: relative;
    z-index: 2;
    top: -420px;
    left: 28.8%;
}

.children-right {
    width: 45%;
    margin: 200px auto;
    margin-top: 210px;
    font-size: 13px;
}

.children-right p {
    width: 80%;
    margin: 10px 0;
}

.children-right button {
    width: 20%;
    margin-left: 5px;
    background-color: #543EE9;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 7px 10px;
    font-size: 15px;
}

.children-right button:hover {
    background-color: #4c4b55;
    color: black;
    transition: 0.6s;
}

.popular-course {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 30px auto;
    text-align: center;
}

.text {
    font-size: 12px;
    margin-left: 100px;
}

.text h1 {
    margin-left: 90px;
}

.text p {
    width: 72%;
    margin-left: 140px;
    margin-top: 5px;
    font-size: 12.5px;
    margin-top: 5px 0;
}

.ellips img {
    width: 25%;
    margin-right: 200px;
    margin-top: 8px;
}

.main-container {
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

.white-container {
    width: 80%;
    margin-left: 120px;
    display: flex;
}


/* biz buna position relativ verdik ki div-img buna nezeren hereket etsin */

.four-div {
    width: 24%;
    position: relative;
    margin: auto;
    margin-top: -1px;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 1px 1px 20px 1px rgba(56, 43, 43, 0.75);
}

.four-one {
    position: relative;
}

.four-one img {
    width: 100%;
    padding: 6px;
    border-radius: 15px;
}

.two-img img {
    width: 60%;
    margin-left: 7px;
    margin-top: 7px;
}

.two-img {
    width: 35px;
    position: absolute;
    height: 32px;
    z-index: 1;
    background-color: black;
    border-radius: 50%;
    top: 4%;
    bottom: 0;
    right: 7%;
    border: 1px solid blue;
}

.two-img:hover {
    background-color: white;
    transition: 0.6s;
}

.five-img {
    margin-top: -10px;
    padding-left: 15px;
}

.main-container h2 {
    width: 100%;
    font-size: 15px;
    margin-left: 15px;
}

.main-container p {
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
}

.noqte-container {
    display: flex;
    margin-top: -10px;
    padding-left: 15px;
    color: red;
}

.div-5 p {
    font-size: 11px;
}

.paragraph {
    margin: 0px 7px;
}

.paragraph p {
    margin-top: -15px;
    font-size: 30px;
    color: #3AD4D8;
}

.name p {
    font-size: 11px;
}

.h2-p {
    width: 100%;
    font-size: 20px;
}

.h2-p p {
    margin: 10px;
    margin-left: 15px;
    width: 90%;
}

.manat {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button {
    width: 45%;
}

.button button {
    width: 100%;
    margin-left: 15px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 15px;
    transition: 0.6s;
}

.button :hover {
    background-color: blue;
    color: white;
}

.azn {
    margin-right: 15px;
    margin-top: -5px;
    display: flex;
    color: #3AD4D8;
    font-weight: bold;
}

.azn p {
    padding-bottom: 10px;
}

.ay {
    margin-left: 3px;
}

.ay p {
    font-size: 10px;
}

.wifi {
    width: 24%;
    position: relative;
    margin: auto;
    margin-top: -1px;
    border-radius: 10px;
    justify-content: space-between;
}

.h2-b {
    width: 100%;
    font-size: 20px;
    margin-bottom: 80px;
}

.but {
    width: 45%;
}

.but button {
    width: 100%;
    margin-left: 15px;
    background-color: blue;
    border: 1px solid gray;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 15px;
    transition: 0.6s;
}

.but :hover {
    background-color: white;
    color: black;
}

.three {
    position: relative;
    margin-bottom: 20px;
}

.three img {
    width: 100%;
}

.bar {
    margin-right: 15px;
    margin-top: -5px;
    display: flex;
    color: rgb(84, 7, 155);
    font-weight: bold;
}

.padding {
    width: 10%;
    margin-left: 600px;
    margin-bottom: 100px;
}

.padding button {
    width: 100%;
    margin-left: 15px;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 7px 10px;
    box-shadow: -1px 1px 12px 1px rgba(10, 9, 9, 0.75);
    font-size: 15px;
    border: 3px solid transparent;
    transition: 0.6s;
}

.padding button:hover {
    border-color: #3AD4D8;
}

.margin img {
    width: 5%;
    margin-top: -120px;
    margin-left: 370px;
}

.margin {
    margin-top: -70px;
}

.axundova {
    width: 80%;
    display: flex;
    background-color: #E2EAF8;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    height: 410px;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
}

.qeydiyyat {
    width: 40%;
    margin: 100px auto;
    margin-left: 150px;
}

.qeydiyyat h6 {
    color: #543EE9;
    font-weight: bold;
}

.qeydiyyat h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.qeydiyyat p {
    width: 100%;
    font-size: 11.5px;
}

.qeydiyyat button {
    background-color: #543EE9;
    border: 0;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    margin-top: 25px;
}

.naile {
    width: 35%;
    margin: 100px auto;
    margin-right: 100px;
    margin-top: 70px;
}

.naile img {
    width: 100%;
}

.tund-benovweyi {
    width: 5%;
    height: 40px;
    margin-left: 400px;
    position: absolute;
    z-index: 1;
    left: 55%;
    top: 16%;
}

.tund-benovweyi img {
    width: 100%;
}

.narinci {
    width: 5%;
    position: absolute;
    z-index: 1;
    left: 9%;
    top: 19.5%;
}

.narinci img {
    width: 100%;
}

.aciq-mavi {
    width: 5%;
    position: absolute;
    z-index: 1;
    left: 38%;
    top: 75.5%
}

.aciq-mavi img {
    width: 100%;
}

.lila {
    width: 5%;
    position: absolute;
    z-index: 1;
    left: 85%;
    top: 81%
}

.lila img {
    width: 100%;
}

.online-ders {
    width: 50%;
    margin: 80px auto;
    text-align: center;
    margin-bottom: 30px;
}

.online-ders h2 {
    margin-bottom: 15px;
}

.teacher {
    width: 94%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto;
}

.meta {
    width: 33.5%;
}

.position {
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 2%;
}

.row {
    margin-top: 11px;
    margin-left: 10px;
}

.position h3 {
    margin-bottom: 13px;
    color: #FE5538;
    font-size: 29px;
}

.position h5 {
    width: 35%;
}

.salam {
    position: absolute;
    z-index: 1;
    top: 65.5%;
    left: 35.5%;
}

.salam p {
    color: white;
}

.salam h3 {
    font-size: 29px;
    color: #52DEC1;
}

.relative {
    position: absolute;
    z-index: 1;
    top: 66.5%;
    left: 69.5%;
}

.relative p {
    color: white;
}

.relative h3 {
    color: #D6A7F9;
    font-size: 29px;
}

.inci {
    width: 4%;
    margin-left: 310px;
    margin-top: 90px;
}

.inci img {
    width: 100%;
}

.alila {
    width: 4%;
    margin-left: 1240px;
    margin-top: -55px;
}

.alila img {
    width: 100%;
}

.online-imtahanlar {
    width: 50%;
    margin: 80px auto;
    text-align: center;
    margin-bottom: 30px;
}

.label-container {
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

.black-container {
    width: 75%;
    margin-left: 120px;
    margin: auto;
    display: flex;
}

.parol {
    width: 32%;
    margin: 1%;
    justify-content: space-between;
    box-shadow: 1px 1px 20px 1px rgba(56, 43, 43, 0.75);
}

.kod {
    width: 32%;
    margin: 1%;
    justify-content: space-between;
}

.eight img {
    padding: 5px;
    width: 100%;
}

.seven img {
    width: 100%;
}

.vergul-container {
    display: flex;
    margin-top: 10px;
    padding-left: 15px;
    color: red;
}

.div-6 p {
    font-size: 11px;
}

.abzas {
    margin: 0px 7px;
}

.abzas p {
    margin-top: -25px;
    font-size: 30px;
    color: #3AD4D8;
}

.surname p {
    font-size: 11px;
}

.h3-b h2 {
    margin-left: 15px;
    margin-bottom: 15px;
}

.h3-b {
    width: 100%;
    font-size: 11px;
}

.h3-b p {
    margin: 10px;
    margin-left: 15px;
    width: 94%;
    margin-bottom: 40px;
}

.dollar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.euro {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.not {
    width: 45%;
}

.not button {
    width: 100%;
    margin-left: 15px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 15px;
    transition: 0.6s;
}

.not :hover {
    background-color: blue;
    color: white;
}

.kabinet {
    margin-right: 15px;
    display: flex;
    margin-top: 5px;
    color: #3AD4D8;
    font-weight: bold;
}

.kabinet p {
    padding-bottom: 10px;
}

.il {
    margin-left: 3px;
}

.il p {
    font-size: 10px;
}

.ton {
    width: 45%;
}

.ton button {
    width: 100%;
    margin-left: 15px;
    background-color: blue;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 15px;
    color: white;
    transition: 0.6s;
}

.ton :hover {
    background-color: white;
    color: black;
}

.vip {
    margin-right: 15px;
    display: flex;
    margin-top: 5px;
    color: #543EE9;
    font-weight: bold;
}

.vip p {
    padding-bottom: 10px;
}

.cografiya {
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.uni {
    width: 49%;
    margin-left: 30px;
    margin-top: 100px;
    height: 300px;
    color: black;
}

.uni h5 {
    font-size: 10px;
    color: #4245c7;
}

.uni h1 {
    width: 70%;
    font-weight: bold;
    font-weight: 1000;
    color: #181818;
}

.uni p {
    width: 83%;
    font-size: 13px;
    margin-bottom: 30px;
}

.uni button {
    width: 23%;
    margin-left: 5px;
    background-color: #543EE9;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 15px;
}

.uni button:hover {
    background-color: #4c4b55;
    color: black;
    transition: 0.6s;
}

.friday {
    width: 49%;
    margin-left: 100px;
    position: relative;
    height: 400px;
}

.yasil-img img {
    position: absolute;
    width: 40%;
    z-index: 1;
    top: 2%;
    bottom: 0;
    left: 32%;
    right: 0;
}

.pantera-img img {
    position: absolute;
    top: 33%;
    bottom: 0;
    left: 61%;
    right: 0;
    z-index: 1;
    width: 40%;
}

.orbit-pink img {
    position: absolute;
    width: 8%;
    top: 7%;
    bottom: 0;
    left: 43%;
    right: 0;
    z-index: 3;
}

.orbit-red img {
    position: absolute;
    width: 8%;
    top: 86.5% !important;
    bottom: 0;
    left: 70%;
    right: 0;
    z-index: 3;
}

.father-img img {
    width: 50%;
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 40%;
    right: 0;
    z-index: 2;
}

.cousin-img img {
    width: 9%;
    position: absolute;
    top: 40.3%;
    bottom: 0;
    left: 60.8%;
    right: 0;
    z-index: 3;
}

.play img {
    width: 3.3%;
    position: absolute;
    top: 44.5%;
    bottom: 0;
    left: 63.4%;
    right: 0;
    z-index: 4;
}

.bye {
    width: 4%;
    margin-left: 290px;
}

.bye img {
    width: 100%;
}

.p {
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.jane {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 30px;
}

.riyaziyyat {
    width: 33%;
    margin: 0.6%;
    color: black;
    background-color: white;
    padding: 20px;
    line-height: 19px;
    box-shadow: -1px -1px 6px 1px rgba(115, 107, 107, 0.46);
}

.riyaziyyat h5 {
    color: #FE8B76;
    margin: 5px 0;
}

.riyaziyyat p {
    font-size: 11px;
    margin-top: 5px;
}

.tarix {
    width: 33%;
    margin: 0.6%;
    color: black;
    background-color: white;
    padding: 20px;
    line-height: 19px;
    box-shadow: -1px 0px 23px 1px rgba(0, 0, 0, 0.75);
}

.tarix h5 {
    color: #FE8B76;
    margin: 5px 0;
}

.tarix p {
    font-size: 11px;
    margin-top: 5px;
}

.ali {
    width: 4%;
    float: right;
    margin-right: 220px;
    margin-top: 30px;
}

.ali img {
    width: 100%;
}

.mezunllar {
    width: 50%;
    margin-top: 90px;
    margin-left: 330px;
    color: black;
    text-align: center;
}

.mezunllar p {
    width: 80%;
    font-size: 13px;
    margin-left: 50px;
}

.jony {
    width: 75%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 30px;
}

.hendese {
    width: 25%;
    background-color: red;
    margin: 0.5%;
    color: black;
    background-color: white;
    height: 390px;
    box-shadow: -1px -1px 6px 1px rgba(115, 107, 107, 0.46);
}

.hendese img {
    width: 100%;
    padding: 5px;
}

.hendese h3 {
    margin-left: 10px;
}

.hendese h4 {
    float: right;
    margin-right: 10px;
    color: #3AD4D8;
}

.hendese h5 {
    color: #FE8B76;
    font-size: 8px;
    margin-top: 15px;
    margin-bottom: 6px;
    margin-left: 10px;
}

.hendese p {
    width: 89%;
    font-size: 10px;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 40px;
    color: #929191;
}

.biologiya {
    width: 25%;
    background-color: blue;
    margin: 0.5%;
    color: black;
    background-color: white;
    height: 330px;
    box-shadow: -1px -1px 6px 1px rgba(115, 107, 107, 0.46);
}

.biologiya img {
    width: 100%;
}

.biologiya h3 {
    margin-left: 10px;
}

.biologiya h4 {
    margin-top: 50px;
    float: right;
    margin-right: 10px;
    color: #7A388C;
}

.biologiya h5 {
    color: #FE8B76;
    margin: 5px;
    margin-left: 10px;
    font-size: 8px;
    margin-top: 15px;
}

.incir {
    width: 4%;
    float: right;
    margin-right: 250px;
}

.incir img {
    width: 100%;
}

.ri-akademi {
    width: 85%;
    margin: auto;
    margin-left: 120px;
    height: 400px;
    background-color: #E2EAF8;
    display: flex;
    justify-content: space-between;
    color: black;
}

.left-akademi {
    width: 59%;
    margin: 50px auto;
    padding: 10px;
    font-size: 15px;
    margin-left: 80px;
}

.seo {
    display: flex;
    margin-bottom: 20px;
}

.seo h6 {
    margin-top: 15px;
    margin-left: 10px;
}

.left-akademi p {
    width: 100%;
    margin-bottom: 15px;
}

.left-akademi h5 {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
}

.right-akademi {
    width: 39%;
    margin: 60px auto;
    margin-right: 100px;
}

.right-akademi img {
    width: 100%;
}

.aciq {
    width: 4%;
    float: right;
    margin-right: 430px;
    margin-top: -80px;
}

.aciq img {
    width: 100%;
}

.sertifikat {
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

.sertifikat p {
    width: 45%;
    font-size: 15px;
    text-align: center;
    margin-left: 390px;
}

.tund {
    width: 4%;
    float: right;
    margin-right: 100px;
    margin-top: -20px;
}

.tund img {
    width: 100%;
}